body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 46px;
}

#home {
    scroll-margin-top: 86px;
}

#home {
    background-image: url(./imgs/fundo-banner.png);
    background-repeat: no-repeat;
    margin-top: 86px;
}



#home .container {
    padding: 0;
    /*    margin-top: 56px; */
    margin-bottom: 25px;
}

.hero {
    /*     height: 100vh; */
    background: #fff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    max-width: 100%;
    height: auto;
}

#about,
#programacao,
#speakers,
#sponsors {
    padding: 60px 0;
}

#speakers .card {
    margin-bottom: 30px;
}

.sponsors img {
    max-height: 100px;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}

/* Você pode adicionar qualquer estilo adicional para o modal aqui */
.modal-content {
    padding: 20px;
}

.modal-body p::first-letter {
    font-size: 1.5em;
}


/* Define the background color with transparency */
.navbar {
    background-color: rgba(0, 0, 0, 0.9) !important;
    /* Preto com 80% de opacidade */
}

@keyframes fadeBlink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* Estilo para o botão flutuante */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    /* Reduzido de 60px */
    height: 40px;
    /* Reduzido de 60px */
    display: none;
    /* Usando flexbox */
    align-items: center;
    /* Centraliza verticalmente */
    justify-content: center;
    /* Centraliza horizontalmente */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-decoration: none;
    font-size: 18px;
}

#botao-inscricao {
    animation: pulse 1s infinite;
    /* Aplica a animação */
}

.floating-button i {
    color: white;
    /* Cor do ícone */
}

/* Botão de Compartilhamento pelo WhatsApp */
#whatsappButton {
    position: fixed;
    bottom: 20px;
    /* Posiciona o botão acima do botão existente */
    right: 20px;
    background-color: #25D366;
    /* Cor verde do WhatsApp */
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    /* Exibe o botão em todas as resoluções */
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    /* Z-index acima do botão existente */
    text-decoration: none;
    font-size: 18px;
}



/* Adicionar animação pulse ao item do menu "Inscreva-se Já" */
.nav-link.pulse {
    animation: pulse 1s infinite;
    /* Aplica a animação pulse */
    color: #ff0000 !important;
    /* Cor para chamar atenção */
    font-weight: bold;
    /* Negrito para maior destaque */
}

/* Estilos adicionais para o modal de download */
.modal-body ul {
    list-style-type: none;
    padding: 0;
}

.modal-body ul li {
    padding: 10px 0;
}

.modal-body ul li a {
    color: #007bff;
    text-decoration: none;
}

.modal-body ul li a:hover {
    text-decoration: underline;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    /* Negrito para itens destacados */
}

/* Estilos adicionais para o modal de galeria */
.modal-body .carousel-item {
    height: 500px;
}

.modal-body .carousel-item img {
    height: 100%;
    object-fit: cover;
}

/* Estilos para os ícones de redes sociais no rodapé */
.social-icons {
    margin-top: 10px;
}

.social-icons p {
    margin: 0;
    font-size: 1.2em;
}

.social-icon {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #007bff; /* Cor ao passar o mouse */
}
























/* Exibir apenas em telas pequenas */
@media (max-width: 767px) {
    .floating-button {
        display: flex;
        /* Mostra o botão em telas pequenas */
    }

    /* Desativar animação em telas pequenas */
    .nav-link.pulse {
        animation: none;
        /* Remove a animação */
    }

    section {
        scroll-margin-top: 46px;
    }

    #whatsappButton {
        bottom: 70px;
        /* Posiciona o botão acima do botão existente */
    }
}