
/* Adicionar animação pulse ao item do menu "Inscreva-se Já" */
.nav-link.pulse {
    animation: pulse 1s infinite;
    /* Aplica a animação pulse */
    color: #ff0000 !important;
    /* Cor para chamar atenção */
    font-weight: bold;
    /* Negrito para maior destaque */
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    /* Negrito para itens destacados */
}


/* Define the background color with transparency */
.navbar {
    background-color: rgba(0, 0, 0, 0.9) !important;
    /* Preto com 80% de opacidade */
}

.navbar-brand-customizado{
    font-size: 1.00rem;
    line-height: 1;
    text-align: center;
    display: flex;
    align-items: center;
}

.navbar-brand-customizado i {
    margin-right: 10px; /* Ajuste a margem para o espaço desejado entre o ícone e o texto */
}

.p-left{
    padding-left: 8rem;
}

#navbarNav{
    justify-content: flex-end;
}

#botao-home{
    display: none;
 }

 .padding-customizado {
    padding: .5rem 24rem;
}