.patrocinio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px; /* Espaço entre as imagens */
}

.patrocinio img {
    height: auto;
    object-fit: contain; /* Mantém a proporção da imagem */
}

.row-patrocinio {
    justify-content: center;
}

.h2-patrocinio {
    text-align: center;
    margin-top: .5rem;
}